In [1]:
from google.cloud import bigquery

client = bigquery.Client()
client

In [2]:
query = """
SELECT
  DATE(CAST(ANO AS INT64), CAST(MES AS INT64), 1) AS COMPETENCIA,
  CNES,
  NAT_JUR,
  TP_PREST,
  TP_UNID,
  TPGESTAO,
  CODUFMUN,
  CPF_CNPJ,
  CNPJ_MAN
FROM `basedosdados-staging.br_ms_cnes_staging.estabelecimento`
LIMIT 10
"""
results = client.query(query)

results

QueryJob<project=desid-playground, location=US, id=10242363-cf00-4115-b324-7e0845d30f5f>

In [3]:
import pandas as pd

In [4]:
df = results.to_dataframe()
df

,COMPETENCIA,CNES,NAT_JUR,TP_PREST,TP_UNID,TPGESTAO,CODUFMUN,CPF_CNPJ,CNPJ_MAN
0,2005-10-01,2001071,,None,2,D,120001,00000000000000,84306737000127
1,2005-10-01,2001098,,None,2,E,120001,00000000000000,04034526000143
2,2005-10-01,2001780,,None,2,M,120001,00000000000000,04034526000143
3,2005-10-01,2001950,,None,1,M,120001,00000000000000,84306737000127
4,2005-10-01,2002043,,None,1,M,120001,00000000000000,84306737000127
5,2005-10-01,2002159,,None,2,M,120001,00000000000000,84306737000127
6,2005-10-01,2002841,,None,2,E,120001,00000000000000,04034526000143
7,2005-10-01,3006166,,None,2,D,120001,00000000000000,84306737000127
8,2005-10-01,3382745,,None,2,M,120001,00000000000000,84306737000127
9,2005-10-01,3393984,,None,2,D,120001,00000000000000,84306737000127