In [21]:
from google.cloud import bigquery
import pandas as pd
from fastduck import database

In [ ]:
client = bigquery.Client()
query = """
SELECT
  DATE(CAST(ANO AS INT64), CAST(MES AS INT64), 1) AS COMPETENCIA,
  CNES,
  NAT_JUR,
  TP_PREST,
  TP_UNID,
  TPGESTAO,
  CODUFMUN,
  CPF_CNPJ,
  CNPJ_MAN
FROM `basedosdados-staging.br_ms_cnes_staging.estabelecimento`
LIMIT 1000
"""
results = client.query(query)

In [20]:

dt = {
    'COMPETENCIA': 'datetime64[ns]',
    'CNES': 'string',
    'NAT_JUR': 'string',
    'TP_PREST': 'string',
    'TP_UNID': 'string',
    'TPGESTAO': 'string',
    'CODUFMUN': 'string',
    'CPF_CNPJ': 'string',
    'CNPJ_MAN': 'string'
}

df = results.to_dataframe().astype(dt)
print(df.dtypes)

COMPETENCIA    datetime64[ns]
CNES           string[python]
NAT_JUR        string[python]
TP_PREST       string[python]
TP_UNID        string[python]
TPGESTAO       string[python]
CODUFMUN       string[python]
CPF_CNPJ       string[python]
CNPJ_MAN       string[python]
dtype: object

In [25]:
db = database(':memory:')
db

Installing and loading extensions: 0it [00:00, ?it/s]

DuckDBPyConnection (memory_main)

In [54]:
tb = db.sql(" select CAST(COMPETENCIA AS DATE) AS COMPETENCIA,CNES,NAT_JUR,TP_PREST,TP_UNID,TPGESTAO,CODUFMUN,CPF_CNPJ,CNPJ_MAN from df")
tb

DuckDBPyRelation

In [8]:
df.describe()

,COMPETENCIA,CNES,NAT_JUR,TP_PREST,TP_UNID,TPGESTAO,CODUFMUN,CPF_CNPJ,CNPJ_MAN
count,1000,1000,1000,0,1000,1000,1000,1000,1000
unique,1,1000,1,0,19,3,70,228,77
top,2005-10-01,2001071,,NaN,2,M,120040,00000000000000,00000000000000
freq,1000,1,1000,NaN,473,633,188,773,199

In [58]:
df['COMPETENCIA'] = pd.to_datetime(df['COMPETENCIA']).dt.date

In [59]:
df.dtypes

COMPETENCIA            object
CNES           string[python]
NAT_JUR        string[python]
TP_PREST       string[python]
TP_UNID        string[python]
TPGESTAO       string[python]
CODUFMUN       string[python]
CPF_CNPJ       string[python]
CNPJ_MAN       string[python]
dtype: object

In [10]:
df.dtypes

COMPETENCIA    dbdate
CNES           object
NAT_JUR        object
TP_PREST       object
TP_UNID        object
TPGESTAO       object
CODUFMUN       object
CPF_CNPJ       object
CNPJ_MAN       object
dtype: object